
body{
    background-image: url(/webimg/back.jpg);
    background-size: cover;
    background-attachment: fixed;

}
.h1{
    background-color: orange;
    text-align: center;
    color: black;
    font: bold;
}
.content{
    background: whitesmoke;
    width: 70%;
    padding: 50px;
    margin: 100px auto;
    font-family:'Oxanium', cursive;
    justify-items: center;
    text-align: center;
}
.About{
    text-align: left;
    justify-content: left;
    }

